<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="translatorDialog">
		<title>Translator</title>
		<id_arg>0</id_arg>
		<handler function="OnInit" entry="EVT_INIT_DIALOG" />
		<object class="wxBoxSizer" variable="BoxSizer1" member="yes">
			<object class="sizeritem">
				<object class="wxBoxSizer" variable="BoxSizer3" member="yes">
					<orient>wxVERTICAL</orient>
					<object class="sizeritem">
						<object class="wxBoxSizer" variable="BoxSizer4" member="yes">
							<object class="sizeritem">
								<object class="wxChoice" name="ID_CHOICE1" variable="chcFrom" member="yes" />
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>4</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxBitmapButton" name="ID_BITMAPBUTTON1" variable="BitmapButton1" member="yes">
									<bitmap>icons/left_right.ico</bitmap>
									<bg>#000000</bg>
									<tooltip>Swap languages</tooltip>
									<handler function="OnSwapLanguages" entry="EVT_BUTTON" />
								</object>
								<flag>wxTOP|wxBOTTOM|wxEXPAND</flag>
								<border>4</border>
							</object>
							<object class="sizeritem">
								<object class="wxChoice" name="ID_CHOICE2" variable="chcTo" member="yes" />
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>4</border>
								<option>1</option>
							</object>
						</object>
						<flag>wxEXPAND</flag>
						<border>4</border>
					</object>
					<object class="sizeritem">
						<object class="wxBoxSizer" variable="BoxSizer5" member="no">
							<object class="sizeritem">
								<object class="wxPanel" name="ID_PANEL1" variable="Panel1" member="yes">
									<bg>#FFFFFF</bg>
									<style>wxSUNKEN_BORDER|wxTAB_TRAVERSAL</style>
									<object class="wxBoxSizer" variable="BoxSizer6" member="yes">
										<object class="sizeritem">
											<object class="wxTextCtrl" name="ID_TEXTCTRL1" variable="tctrlInput" member="yes">
												<focused>1</focused>
												<style>wxTE_MULTILINE|wxNO_BORDER</style>
											</object>
											<flag>wxEXPAND</flag>
											<border>4</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxBitmapButton" name="ID_BITMAPBUTTON6" variable="BitmapButton6" member="yes">
												<bitmap>icons/play.ico</bitmap>
												<bg>#FFFFFF</bg>
												<tooltip>Listen</tooltip>
												<style>wxBU_BOTTOM|wxNO_BORDER|wxNO_FULL_REPAINT_ON_RESIZE</style>
											</object>
											<flag>wxALIGN_BOTTOM</flag>
											<border>4</border>
										</object>
									</object>
								</object>
								<flag>wxTOP|wxBOTTOM|wxLEFT|wxEXPAND</flag>
								<border>4</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxBitmapButton" name="ID_BITMAPBUTTON5" variable="BitmapButton5" member="yes">
									<bitmap>icons/translate.ico</bitmap>
									<tooltip>Translate</tooltip>
									<handler function="OnTranslate" entry="EVT_BUTTON" />
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>4</border>
							</object>
						</object>
						<flag>wxEXPAND</flag>
						<border>5</border>
					</object>
					<object class="sizeritem">
						<object class="wxPanel" name="ID_PANEL2" variable="Panel2" member="yes">
							<bg>#FFFFFF</bg>
							<style>wxSUNKEN_BORDER|wxTAB_TRAVERSAL</style>
							<object class="wxBoxSizer" variable="BoxSizer7" member="no">
								<object class="sizeritem">
									<object class="wxTextCtrl" name="ID_TEXTCTRL2" variable="tctrlOutput" member="yes">
										<size>350,200</size>
										<style>wxTE_MULTILINE|wxTE_READONLY|wxNO_BORDER</style>
									</object>
									<flag>wxEXPAND</flag>
									<border>4</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxBitmapButton" name="ID_BITMAPBUTTON7" variable="BitmapButton7" member="yes">
										<bitmap>icons/play.ico</bitmap>
										<bg>#FCFCFC</bg>
										<tooltip>Listen</tooltip>
										<style>wxBU_AUTODRAW|wxNO_BORDER</style>
									</object>
									<flag>wxALIGN_BOTTOM</flag>
									<border>4</border>
								</object>
							</object>
						</object>
						<flag>wxALL|wxALIGN_LEFT</flag>
						<border>4</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxEXPAND</flag>
				<border>4</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxStaticLine" name="ID_STATICLINE1" variable="StaticLine1" member="yes">
					<style>wxLI_VERTICAL</style>
				</object>
				<flag>wxEXPAND</flag>
				<border>5</border>
			</object>
			<object class="sizeritem">
				<object class="wxBoxSizer" variable="BoxSizer2" member="yes">
					<orient>wxVERTICAL</orient>
					<object class="sizeritem">
						<object class="wxBitmapButton" name="ID_BITMAPBUTTON2" variable="BitmapButton2" member="yes">
							<bitmap>icons/about.ico</bitmap>
							<tooltip>About</tooltip>
							<handler function="OnAbout" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>4</border>
					</object>
					<object class="sizeritem">
						<object class="wxBitmapButton" name="ID_BITMAPBUTTON3" variable="BitmapButton3" member="yes">
							<bitmap>icons/settings.ico</bitmap>
							<tooltip>Settings</tooltip>
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>4</border>
					</object>
					<object class="sizeritem">
						<object class="wxBitmapButton" name="ID_BITMAPBUTTON4" variable="BitmapButton4" member="yes">
							<bitmap>icons/quit.ico</bitmap>
							<tooltip>Quit</tooltip>
							<handler function="OnQuit" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>4</border>
					</object>
				</object>
				<flag>wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>4</border>
			</object>
		</object>
		<object class="wxMessageDialog" name="ID_MESSAGEDIALOG1" variable="swapInfoMessageDialog" member="yes">
			<caption>Message</caption>
			<message>Swap between&quot;Auto detect&quot; and any other language is not permited.</message>
			<style>wxOK|wxICON_INFORMATION</style>
		</object>
	</object>
</wxsmith>
